/**
 * Reset
 */
* {
  margin: 0;
  padding: 0;
}

/**
 * Base
 */
html, body {
  background-color: #fafafa;
  color: #333;
  font: 400 62.5% Open Sans, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

::selection {
  background-color: #435b5d;
  color: #fff;
}

/**
 * Home
 */
.header-home {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}
  
.home-brand {
  color: #435b5d;
  display: block;
  font: 300 8rem Raleway, Open Sans, sans-serif;
  text-transform: lowercase;
  text-align: left;
}
.home-brand a {
  display: block;
  position: relative;
}
.home-brand a:hover {
  text-decoration: none;
}
.home-brand a::after {
  background-color: #435b5d;
  bottom: -1.5rem;
  content: "";
  display: block;
  height: 0;
  opacity: 0;
  outline: 0;
  position: absolute;
  transition: .5s;
  width: 100%;
}
.home-brand a:hover::after {
  bottom: -.5rem;
  height: .3rem;
  opacity: 1;
}
.home-brand b {
  font-weight: 500;
}